<article class="rounded-md w-[20%] m-4 h-60 overflow-hidden bg-[#1F1F1F]">
    <img src="<%= thumbnail %> " class="object-cover w-full h-32" alt="Boracay">
    <div class="p-4">
        <div class="flex justify-between items-center">
            <h1 class="text-white font-bold text-xl text-ellipsis whitespace-nowrap overflow-hidden w-[80%]"><%= name %> </h1>
            <h1 class="text-white font-bold">⭐<%= rating %> </h1>
        </div>
        <h2 class="text-white text-opacity-70"><%= address %> </h2>
        <p class="text-white">&#8369;<%= pricing %> </p>
    </div>
</article>