<% 
    if (typeof current === "undefined") {
        current = '~'
    }
%> 

<nav class="flex w-full justify-between items-stretch h-16 bg-[#1F1F1F] sticky top-0 z-50">
    <div class="flex items-center mx-4">
        <a href="/">
            <h1 class="font-bold text-3xl text-white"><span class="text-[#ED2553]">B</span>rand</h1>
        </a>
    </div>
    <div class="flex justify-around items-center mx-4 relative group">
        <!-- <%- include("navlink", {url: "/" , name: "Listings", active: current === "/" }) %> -->
        <% if (user) { %>
            <h2 class="text-white text-xl rounded-full px-4 py-2 hover:bg-white hover:bg-opacity-5"><i class="fa-solid fa-power-off text-[#ED2553] cursor-pointer"></i> Welcome <span class="text-[#ED2553] font-bold"><%= user.username %></span> </h2>
            <div class="group-hover:flex group-hover:opacity-100 group-hover:pointer-events-auto pointer-events-none transition-all opacity-0 flex-col absolute top-full left-0 w-full bg-[#1F1F1F] bg-opacity-50 z-20 p-2 rounded-b-md">
                <div class="mb-2"><%- include("navlink", {url: "/" , name: "All Listings", active: current === "/" }) %></div>
                <div class="mb-2"><%- include("navlink", {url: "/listing/current" , name: "My Listings", active: current === "/listing/current" }) %></div>
                <div class="mb-2"><%- include("navlink", {url: "/listing/add" , name: "Post Listing", active: current === "/listing/add" }) %></div>
                <div class=""><%- include("navlink", {url: "/signout" , name: "Sign Out", active: current === "/signout" }) %></div>
            </div>
        <% } else { %>
            <%- include("navlink", {url: "/signin" , name: "Sign In", active: current === "/signin" }) %>
            <%- include("navlink", {url: "/signup" , name: "Sign Up", active: current === "/signup" }) %>
        <% }  %>
    </div>
</nav>